#ignore .env file
.env
#ignore all venv ending with 'env'
*env/

#pycache
__pycache__/
*.pyc
*.pyo

#image-rec
image-rec/images/*
!image-rec/images/.gitkeep

image-rec/sample_images/*
!image-rec/sample_images/.gitkeep

image-rec/annotated_images/*
!image-rec/annotated_images/.gitkeep

image-rec/annotated_archive/*
!image-rec/annotated_archive/.gitkeep

image-rec/stitched_images/*
!image-rec/stitched_images/.gitkeep